*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
src/main/webapp/VAADIN/themes/login/styles.css
src/main/webapp/VAADIN/themes/main/styles.css
src/main/webapp/VAADIN/widgetsets/*
/build/
.classpath
.project
.gradle/*
.settings/*